.dialog-wrapper {
    display: none !important;
}

.wrap,
#main {
    height: 100vh;
    margin: 0 !important;
}

iframe {
    display: none;
}


html,
body {
    height: 100%;
}

.page-preview {
    border-radius: 0;
    height: 100%;
}

.page-preview-header {
    background: #f2f2f2;
    border: none;
    height: 70px;
    position: relative;
    text-align: center;
}

.page-preview-header > a {
    display: inline-block;
    margin-top: 15px;
    padding: 4px;
}

.page-preview-header > a:hover {
    background: #e2f0fc;
    text-decoration: none;
}

.page-preview-header > a.active {
    background: #c9e4f9;
}

.page-preview-header > .close {
    float: right;
    margin-right: 10px;
}

.page-preview-body {
    overflow: hidden;
    text-align: center;
}

.page-preview-body iframe {
    border: none;
    display: inline-block;
    height: 100%;
}